{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kibana
  namespace: {{ .Values.namespace }}
  annotations:
    kubernetes.io/ingress.class: "nginx-observe"
spec:
  ingressClassName: nginx-observe
  rules:
    - http:
        paths:
          - path: /kibana
            pathType: Prefix
            backend:
              service:
                name: kibana
                port:
                  number: 5601
{{- end }}