{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: logstash
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: logstash
  ports:
    - port: 5044
      targetPort: 5044
      name: beats
{{- end }}
