apiVersion: apps/v1
kind: Deployment
metadata:
  name: streamlit
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    app: streamlit
spec:
  replicas: {{ .Values.replicaCount | default 1 }}
  selector:
    matchLabels:
      app: streamlit
  template:
    metadata:
      labels:
        app: streamlit
    spec:
      {{- if .Values.podSecurityContext }}
      securityContext:
{{ toYaml .Values.podSecurityContext | nindent 8 }}
      {{- end }}
      containers:
        - name: streamlit
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          {{- if .Values.containerSecurityContext }}
          securityContext:
{{ toYaml .Values.containerSecurityContext | nindent 12 }}
          {{- end }}

          ports:
            - name: http
              containerPort: 8501
              protocol: TCP

          env:
          - name: OTEL_SERVICE_NAME
            value: streamlit-ui
          - name: OTEL_EXPORTER_OTLP_HTTP_ENDPOINT
            value: http://otel-collector.tracing.svc.cluster.local:4318/v1/traces

          readinessProbe:
            httpGet:
              path: /
              port: 8501
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /
              port: 8501
            initialDelaySeconds: 30
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 5

          {{- if .Values.resources }}
          resources:
{{ toYaml .Values.resources | nindent 12 }}
          {{- end }}
