{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: qdrant
spec:
  type: ClusterIP
  selector:
    app: qdrant
  ports:
    - name: http
      port: 6333
      targetPort: 6333
{{- end }}
