apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.jaeger.service.type }}
  selector:
    app: jaeger
  ports:
    - name: query
      port: 16686
      targetPort: 16686
    - name: collector-grpc
      port: 4317
      targetPort: 4317
    - name: collector-http
      port: 4318
      targetPort: 4318
