apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: {{ .Values.namespace }}
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
          http:

    processors:
      batch:

    exporters:
      otlp/jaeger:
        endpoint: jaeger.{{ .Values.namespace }}.svc.cluster.local:{{ .Values.jaeger.service.collectorGrpcPort }}
        tls:
          insecure: true
      logging:
        loglevel: warn

    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlp, jaeger]
