# replicas: 1
image:
  repository: streamlit-ui
  tag: latest
  pullPolicy: IfNotPresent

# env:
#   RAG_API_URL: "http://rag-orchestrator:8000"

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]

# nodeSelector:
#   node-type: cpu

tolerations: []

imagePullSecrets: []
